* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
header{
    width: 100%;
    top: 0;
    z-index: 100;
    position: sticky;
}
.navbar-toggler {
    color: #ffffff !important;
}
.navbar-toggler-icon {
    color: #ffffff !important;
}
#blanco {
    width: 10rem;
   
    
}
.menu{
    margin-left: 0;
    padding-left: 0;
    padding-right: 5rem;
    

}
.navbar-nav li.nav-item a.nav-link {
    font-weight: 800;
    color: #ffffff !important; 
    margin-left: 4rem;
    padding-right: 0;
  }
.collapse ul{
    margin: auto;
}
.imagen1{
    width: 100%;
    
}
.imagen2{
    width: 100%;
}
.btn-propio-1{
    background-color: black;
    color: white;
    padding: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 36px;
    width: 100%;
    font-weight: 200;

}
.home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-text{
    margin: 6rem;
    position: absolute;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-text p{
    text-shadow: 2px 2px 2px  rgba(0 0 0 / 0.5);
    font-weight: 1000;
    font-size: 2rem;
}
.banner-tienda{
    position: relative;
    display: flex;
    align-items: center;
    background-color:white;
    margin: 0;
    padding: 0;
   
}

.carrusel{
    display: flex;
    align-items: center;
    text-align: center;
}

.productos{
    width: 45%;
}

.text01{
    width: 450px;
    margin: 5rem;
    text-align: center;
    color: black;
}
.text01 h2{
    font-weight: 900;
    font-size:3rem ;
}
.text01 p{
    font-weight: 400;
    font-size:1rem ;
}
.caja1{
    width: 100%;
    align-items: center;
    background-image: url(./img/fondos/team.jpg);
    background-size: cover;
   
}
.ceos{
    background-color: white;
    margin: 2rem;
    width: 550px;
    height: 200px;
    text-align: center;
    align-items: center;
    padding: 2rem;
    border: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5); 
    border-radius: 2rem;
    font-weight: 700;

}
.avatar{
    width: 100px;
    border-radius: 100%;
}
.banner{
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 2px  black;
    text-align: center;
    padding: 1rem;

}
.las{
    width: 64px;
}

.card {
    margin: 0;
    padding: 0;
	position: relative;
	background-color: #000;
	overflow: hidden;
}

.card__image {
	scale: 1.15;
	transition: opacity 0.25s, scale 0.35s;
}
.card:hover .card__image {
	opacity: 0.5;
	scale: 1;
}
.card__body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 4rem;
	position: absolute;
	inset: 0;
	padding: 50px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	justify-content: center;
}
.card__body::before {
	content: '';
	position: absolute;
	inset: 20px;
	border: 2px solid #fff;
	opacity: 0;
	scale: 1.25;
	transition: opacity 0.25s, scale 0.25s;
}
.card:hover .card__body::before {
	opacity: 1;
	scale: 1;
}

.card__description {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
	font-size: 1rem;
	opacity: 0;
	translate: -25px;
	transition: opacity 0.25s, translate 0.25s;
}
.card:hover .card__description {
	opacity: 1;
	translate: 0;
}


















footer{
    background-color: black;
    color:white;
    padding: 3rem;
    font-size: 1rem;
    font-weight: bold;
    
    
}
footer a{
    margin: 0.5rem;
}
footer i{
    width: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
}
@media (max-width:860px){
    .menu{
        display:contents;
    }  
    .home-text p{
        font-size: 12px;
    }
}

@media(min-width:992px){
    .logo{
        display: flex;
        justify-content: center;
    }
   
}









